<tr>
    <td><%= link_to format_time(mandrill_notification.created_at), mandrill_notification_path(mandrill_notification) %></td>
    <td><%= mandrill_notification.event %></td>
    <td><%= mandrill_notification.email_address %></td>
    <td><%= mandrill_notification.email_type %></td>
</tr>
