<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mandrill Notifications</h3>
    </div>
    <div class="row">
        <div>
            <%= form_tag mandrill_notifications_path, method: :get do %>
                <div>
                    <div>
                        <label>Event</label>
                        <%= select_tag :event, options_for_select(MandrillNotification.all.map(&:event).uniq, params[:event]), include_blank: true %>
                    </div>
                    <div>
                        <label>Email Type</label>
                        <%= select_tag :email_type, options_for_select(MandrillNotification.all.map(&:email_type).uniq, params[:email_type]), include_blank: true %>
                    </div>
                </div>
                <div>
                    <div>
                        <button type="submit">filter</button>
                    </div>
                </div>
            <% end %>
            <h4 class="panel-title"> Total: <%= @mandrill_notifications.count %></h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <% if @email_type %>
                    <h4>Email Type: <%= @email_type %></h4>
                    <% if @click_rate %>
                        <dl>
                            <dt style="float: left;">Click Rate: </dt><dd><%= number_to_percentage(@click_rate, precision: 0) %></dd>
                            <dt style="float: left;">Open Rate: </dt><dd><%= number_to_percentage(@open_rate, precision: 0) %></dd>
                        </dl>
                    <% else %>
                        No stats to show. No sent notifications have been received for email type: <%= @email_type %>. Try sending an  <%= @email_type %> email.
                    <% end %>
                <% end %>
                <hr>
                <% if @mandrill_notifications.count.positive? %>
                        <thead>
                            <%= render 'mandrill_notifications/header' %>
                        </thead>
                        <tbody>
                            <%= render partial: 'mandrill_notifications/mandrill_notification', collection: @mandrill_notifications %>
                        </tbody>
                    <%= will_paginate @mandrill_notifications, renderer: BootstrapPagination::Rails %>
                <% end %>
           </table>
        </div>
    </div>
</div>
