<div>
    <div>
        <h3>Mandrill Notification <%= @mandrill_notification.id %></h3>
    </div>
    <div>
        <dl>
            <dt>Event: </dt><dd"><%= @mandrill_notification.event %></dd>
            <dt>Email Address: </dt><dd"><%= @mandrill_notification.email_address %></dd>
            <dt>Email Type: </dt><dd"><%= @mandrill_notification.email_type %></dd>
            <dt>Created At: </dt><dd"><%= format_time @mandrill_notification.created_at %></dd>
        </dl>
    </div>
</div>
